Flask
gunicorn
gevent
flask-cors
pydantic
pydantic_extra_types
pendulum
twilio
functions-framework
python-statemachine
unidecode
langchain-google-genai
SQLAlchemy 
cloud-sql-python-connector[pg8000]
google-cloud-tasks
psycopg2-binary
supabase